.archive-items {
    background-color: var(--block_bg_color);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    border: 2px solid var(--block_border_color);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.title-and-form {
    display: flex;
    align-items: center;
}

.archive-time-info {

}

.archive-items h3 {
    margin: 0;
}

 .archive-items p {
    margin-bottom: 0;
 }