.archive-items {
    background-color: var(--block_bg_color);
    padding: 10px;
    margin-bottom: 10px;
}

.title-and-form {
    display: flex;
    align-items: center;
}

.archive-time-info {

}

.archive-items h3 {
    margin: 0;
}

 .archive-items p {
    margin-bottom: 0;
 }