.sidebar {
    position: fixed;
    float: left;
    background-color: var(--sidebar_background);
    padding: 0 15px;
    border-radius: 20px;
    margin: 15px 0 0 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    text-decoration: none;
    color: var(--font_color);
    font-weight: bold;
}

.sidebar ul li a:hover {
    text-decoration: none;
    color: var(--font_color_activ);
    font-weight: bold;
}

