.content{
    padding-bottom: 20px;
}

.note-items {
    width: calc(33.33% - 20px); /* 3 в ряд при максимальном разрешении */
    margin: 10px;
    padding: 15px;
    background-color: var(--block_bg_color);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    float: left;
    box-sizing: border-box;
    overflow-y: auto; /* добавляет вертикальный скролл, если контент выходит за пределы блока */
    height: 200px; /* задает максимальную высоту блока, после которой будет появляться скролл */
    position: relative;
}

.button-delete-note {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--font_color);
    background-color: var(--block_bg_color);
    border: none;
}

.note-items-inner h3 {
    margin-top: 0;
}

.note-items-inner p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.note-date {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 14px;
    color: var(--font_color);
}

.button-delete-note:hover {
    background-color: var(--delete_button_bg);
    color: black;
}

.note-items-inner-add-note {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Высота блока в 100% для центрирования по вертикали */
}

.button-add-note {
    background-color: var(--block_bg_color);
    color: var(--font_color);
    border: none;
    padding: 20px 40px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 50px;
}

.button-add-note:hover {
    color: var(--font_color_activ);
}
/* Медиа-запросы для средних экранов */
@media (max-width: 768px) {
    .note-items {
        width: calc(50% - 20px); /* 2 в ряд при среднем разрешении */
    }
}

/* Медиа-запросы для телефонных экранов */
@media (max-width: 480px) {
    .note-items {
        width: calc(100% - 20px); /* 1 в ряд при телефонном разрешении */
    }
}

.category-panel {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;

}

.category-button, .add-category-button {
    background-color: var(--sidebar_background);
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
}

.category-button:hover, .add-category-button:hover{
    background-color: var(--font_color_activ);
    color: var(--background_color);
}

