{% extends 'base.html' %}
{% load static %}
{% load my_filters %}

{% block title %}
    <title>Архив</title>
{% endblock %}

{% block css_style %}
<link rel="stylesheet" href="{% static 'note_planner/css/archive.css' %}">
{% endblock %}

{% block content %}
    {% include 'includes/sidebar.html' %}
    <div class="archive-block">
        {% for task_name, value in archive_tasks.items %}
            <div class="archive-items">
                <h3>{{ task_name }}</h3>
                <p>
                    Дедлайн: {{ value|get:"due_date" }} {% if value|get:"completed_at" %}<br><br>Дата выполнения: {{ value|get:"completed_at" }} {% endif %}
                </p>
                <form method="post" action="{% url 'delete_task_path' value|get:'task_id' %}">
                    {% csrf_token %}
                    <input type="hidden" name="page" value="archive">
                    <button title="Удалить" type="submit" class="button-delete-task" >✖</button>
                </form>
            </div>
        {% endfor %}
    </div>
{% endblock %}