{% extends 'base.html' %}
{% load static %}
{% load my_filters %}

{% block title %}
    <title>Архив</title>
{% endblock %}

{% block css_style %}
<link rel="stylesheet" href="{% static 'note_planner/css/archive.css' %}">
{% endblock %}

{% block sidebar %}
    {% include 'includes/sidebar.html' %}
{% endblock %}

{% block content %}
    <h2>Выполненные задачи:</h2>
    <div class="archive-block">
        {% for task_name, value in archive_tasks.items %}
            <div class="archive-items">
                <div class="title-and-form">
                    <h3>{{ task_name }}</h3>
                    <form method="post" action="{% url 'task_id_archive_page_path' value|get:'task_id' %}">
                        {% csrf_token %}
                        <input type="hidden" name="form_type" value="archive_task_form">
                        <button title="Удалить" type="submit" class="button-delete-task delete_button" name="button" value="delete-task">✖</button>
                        <button type="submit" class="button-return-task" name="button" value="return-task">Сделать активной</button>
                    </form>
                </div>
                <div class="archive-time-info">
                    <p>
                        Дедлайн: {{ value|get:"due_date" }} {% if value|get:"completed_at" %}<br><br>Дата выполнения: {{ value|get:"completed_at" }} {% endif %}
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}