{% extends 'base.html' %}
{% load static %}
{% load my_filters %}

{% block js_scripts %}
<script src="{% static 'note_planner/js/add_task_form.js' %}"></script>
<script src="{% static 'note_planner/js/more-task-detailed-logic.js' %}"></script>
{% endblock %}

{% block title %}
<title>Задачи</title>
{% endblock %}

{% block css_style %}
<link rel="stylesheet" href="{% static 'note_planner/css/tasks.css' %}">
{% endblock %}

{% block sidebar %}
    {% include 'includes/sidebar.html' %}
{% endblock %}



{% block content %}
<h2>Задачи:</h2>
<div class="tasks-block">
    {% for task in tasks_list %}
        <div class="checkbox-label">
            <div class="check-box-container">
                <input type="checkbox" id="task-checkbox-{{ task.id }}" name="checkbox" value="{{ task.id }}" form="tasks-form">
            </div>

            {% if task.priority == 1 %}
            <div class="tasks-items" style="border-left-color: {{ high_priority }};">
            {% elif task.priority == 2 %}
            <div class="tasks-items" style="border-left-color: {{ medium_priority }};">
            {% else %}
            <div class="tasks-items" style="border-left-color: {{ low_priority }};">
            {% endif %}

                <h3>{{ task.title }}</h3>
                <p>
                    Дедлайн: {{ task.due_date }}
                    {% if task.due_time %}
                    - {{ task.due_time }}
                    {% endif %}
                </p>

                <form method="post" action="{% url 'task_id_page_path' task.id %}" >
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="done_edit_delete_task_form">
                    <button title="Выполнено" type="submit" class="button-done-task" name="button" value="done">✔</button>
                    <button title="Изменить" type="submit" class="button-edit-task" name="button" value="edit">✐</button>
                    <button title="Удалить" type="submit" class="button-delete-task" name="button" value="delete">✖</button>
                </form>
                <button type="button" class="button-show-description task-id-{{ task.id }}">▼</button>

            </div>

        </div>
        {% if task.priority == 1 %}
        <div class="more-detailed-task task-id-{{ task.id }} hidden" style="border-left-color: {{ high_priority }};">
        {% elif task.priority == 2 %}
        <div class="more-detailed-task task-id-{{ task.id }} hidden" style="border-left-color: {{ medium_priority }};">
        {% else %}
        <div class="more-detailed-task task-id-{{ task.id }} hidden" style="border-left-color: {{ low_priority }};">
        {% endif %}
            {% if task.description %}
            <h3 class="task-description-title">Описание задачи</h3>
            <div class="task-description-block">{{ task.description }}</div>
            {% endif %}
            <h3 class="task-subtask-title">Подзадачи:</h3>
            <div class="subtask-item">
                <button type="button" class="add-subtask-bottom task-id-{{ task.id }}">+</button>
            </div>
            <div class="add-subtask-block task-id-{{ task.id }} hidden">
                <form method="POST" action="{% url 'tasks_page_path' %}">
                    {% csrf_token %}
                    {{ add_subtask_form.as_p }}
                    <input type="hidden" name="form_type" value="add_subtask">
                    <input type="hidden" name="task_id" value="{{ task.id }}">
                    <button type="submit" class="save-button task-id-{{ task.id }}">Сохранить</button>
                </form>
            </div>
            {% for subtask in task.subtasks_list.subtasks %}
                <div class="subtask-item">
                    <div class="subtask-title">
                        {% if subtask.completed %}
                        <h4 class="cross-out-text">{{ subtask.title }}</h4>
                        {% else %}
                        <h4>{{ subtask.title }}</h4>
                        {% endif %}
                        <div class="subtask-buttons">
                            <form method="post" action="{% url 'tasks_page_path' %}">
                                {% csrf_token %}
                                <input type="hidden" name="form_type" value="edit_subtask_form">
                                <input type="hidden" name="task_id" value="{{ task.id }}">
                                <input type="hidden" name="subtask_id" value="{{ subtask.id }}">
                                <button title="Выполнено" type="submit" class="button-done-subtask" name="button" value="done">✔</button>
                                <button type="button" class="button-show-subtask-description subtask-id-{{ subtask.id }}" >▼</button>
                                <button type="submit" class="button-delete-subtask delete_button subtask-id-{{ subtask.id }}" name="button" value="delete">✖</button>
                            </form>
                        </div>
                    </div>
                    <p class="subtask-description subtask-id-{{ subtask.id }} hidden">{{ subtask.description }}</p>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>

<div class="add-task-block hidden">
    <button type="submit" class="button-close-task-form">✖</button>
    <form method="POST" action="{% url 'tasks_page_path' %}">
        {% csrf_token %}
        {{ add_task_form.as_p }}
        <input type="hidden" name="form_type" value="add_task">
        <button type="submit" class="save-task-button">Сохранить</button>
    </form>
</div>

<div class="bottom-panel">
    <button title="Добавить" class="button-add-task">+</button>
    <form method="post" action="{% url 'tasks_page_path' %}" id="tasks-form">
        {% csrf_token %}
        <button title="В архив" class="button-archive-task" name="button" value="done">Выполнено</button>
        <button title="Удалить" class="button-delete-selected-tasks" name="button" value="delete">Удалить</button>
        <input type="hidden" name="form_type" value="checkbox_form">
    </form>
</div>

{% endblock %}

