{% load static %}

{% block css_style %}
<link rel="stylesheet" href="{% static 'note_planner/css/user_menu.css' %}">
{% endblock %}

{% block js_scripts %}
<script src="{% static 'note_planner/js/user_menu.js' %}"></script>
{% endblock %}

{% if user.is_authenticated  %}
    <div class="user-block">
        <div class="hidden-user-block">
            <ul>
                <li><a href="{% url 'user_profile_path' %}">Профиль</a></li>
                <li><a href="{% url 'settings_page_path' %}">Настройки</a></li>
                <li><a href="{% url 'logout_path' %}">Выйти</a></li>
            </ul>
        </div>
        <div class="inner-user-block">
            {% if user_profile_photo %}
                <img src="{{ user_profile_photo.url }}" alt="">
            {% else %}
                <img src="{% static 'note_planner/image/user_logo.png' %}" alt="">
            {% endif %}
            {% if user_name %}
            <p>{{ user_name|title }}</p>
            {% else %}
            <p>{{ user|title }}</p>
            {% endif %}
        </div>
    </div>
{% endif %}